$anchorPaddingLeft: 10px;
@mixin breadcrumbs($class:nav, $height:30px, $lineColor:#e3e3e3) {
    .#{$class}
    {
        line-height: $height;

        width: 100%;
        height: $height;

        border-top: 1px solid $lineColor;
        border-bottom: 1px solid $lineColor;
        background: #fff;
        span
        {
            display: block;
            overflow: hidden;

            height: $height;
            padding-right: 10px;

            white-space: nowrap;
            text-overflow: ellipsis;
            a
            {
                line-height: $height;

                position: relative;
                z-index: 1;

                display: inline;

                padding: 0;
                padding-right: $height/2;
                padding-left: $anchorPaddingLeft;

                vertical-align: top;
                &:before
                {
                    position: absolute;
                    top: -$height/2 + 7px;
                    right: -$height/2;

                    display: block;

                    content: '';

                    border: $height/2 solid transparent;
                    border-left: $height/2 solid $lineColor;
                }
                &:after
                {
                    position: absolute;
                    top: -$height/2 + 8px;
                    right: -$height/2 + 2px;

                    display: block;

                    content: '';

                    border: $height/2 - 1px solid transparent;
                    border-left: $height/2 - 1px solid #fff;
                }
            }
            a:last-child:before,a:last-child:after {
                display: none;
            }
        }
    }
}